@import "compass/reset";

// Note kind Sirs: This is just for mockups, will look at oocss when Im back, bye bye!

body{
  font-family: "Garamond";
  overflow-y: scroll;
}

.region{
  position: absolute;
}

.region-view{
  position: absolute;
}

#Navigation{
  display: none;
}

#Pages{
}

.page{
  @extend .region-view;
  width:100%;
  height:100%;
}

.page.basic{
  width: 100%;
  text-align:center;
  background:red;
}

.page.video{
  background:blue;

}

.page.basic .content{
  width: 100%;
  text-align:center;
  display:inline-block;
  position:relative;
}

.page.basic .content .text{
  width:80%;
  margin: auto;
  white-space: pre-line;
}
