@import "compass/reset";

body{
  font-family: "Garamond"
}

.region{
  position: absolute;
}

.region-view{
  position: absolute;
}

#Navigation{
  display: none;
}

#Pages{
}

.page{
  @extend .region-view
}

.page.basic{
  width: 100%;
  text-align:center;
}

.page.basic .content{
  width: 100%;
  text-align:center;
  display:inline-block;
  position:relative;
}

.page.basic .content .text{
  width:80%;
  margin: auto;
  white-space: pre-line;
}
