@import "compass/reset";

.region{
  position: absolute;
}

.region-view{
  position: absolute;
}

#Navigation{
  display: none;
}

#Pages{
}

.page{
  @extend .region-view
}

.page.basic{
  width:80%;
  margin: auto;
}