<div id="Navigation"></div>
<div id="Page"></div>
<div id="Footer"></div>

<script type="text/javascript">
  // Bootstrapping Data...
  window.data = JSON.parse(<%=  (render partial: "application/app", formats: [:json]).to_json.html_safe  %>);
</script>

<%= javascript_tag do %>
  debugger;
  $(function(){
    App.start();
  })
<% end %>

